@model IEnumerable<IngredientsToMealDTO>


<button class="btn btn-success" onclick="addMore()">+</button>
<form method="post">
    <div class="wrapper">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <div class="row-fluid">
                


                <div>
                    @Html.DropDownListFor(m => Model.ElementAt(i).SelectedMealId, new SelectList(Model.ElementAt(i).Meals, "Id", "Name"), "Select", new { required = "required" })
                    @Html.TextBoxFor(m => Model.ElementAt(i).ProductName)
                    @Html.TextBoxFor(m => Model.ElementAt(i).SelectedProductId)
                    <input asp-for="@Model.ElementAt(i).Amount" required/>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-primary">Add</button>
</form>
<script>
    var index = @Model.Count();
    function addMore() {
        var newRow = $(".row-fluid:last").clone();
        //newRow.find(':input').val(''); // Clear input values
        newRow.find('select').prop('selectedIndex', 0); // Reset dropdowns
        newRow.find(':input').each(function () {
            var name = $(this).attr('name').replace(`[${index - 1}]`, `[${index}]`);
            $(this).attr('name', name);
        });
        newRow.appendTo(".wrapper");
        index++;
    }

    $(function () {
        $("#ProductName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Product/Products/',
                    data: { "prefix": request.term },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(item);
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#SelectedProductId").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>