@using Diabetic.Models.Helpers
@model ProductViewModel

<div class="mt-5">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@nameof(Model.Product.Name)</th>
                <th scope="col" class="text-center">@nameof(Model.Product.KcalPer100G)</th>
                <th scope="col" class="text-center">@nameof(Model.Product.Gi)</th>
                <th scope="col">@nameof(Model.Product.GramsPerPortion)</th>
                <th scope="col" class="text-center">ŁG</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IngredientDto ingredient in Model.Products)
            {
                <tr>
                    <th scope="row">
                        @ingredient.Product.Id
                    </th>
                    <td>
                        @(char.ToUpper(ingredient.Product.Name[0]) + ingredient.Product.Name.Substring(1))
                    </td>
                    <td class="text-center">
                        @ingredient.Product.KcalPer100G
                    </td>
                    @if (Model.IsGreenGi(ingredient.Product.Gi))
                    {
                        <text>
                        <td class="table-success text-center"> @ingredient.Product.Gi </td>
                        </text>
                    }
                    @if (Model.IsOrangeGi(ingredient.Product.Gi))
                    {
                        <text>
                        <td class="table-warning text-center"> @ingredient.Product.Gi </td>
                        </text>
                    }
                    @if (Model.IsRedGi(ingredient.Product.Gi))
                    {
                        <text>
                        <td class="table-danger text-center"> @ingredient.Product.Gi </td>
                        </text>
                    }
                    <td class="col col-lg-1 text-center">@ingredient.Product.GramsPerPortion</td>
                    @if (Model.IsGreenGl(IndexHelper.GetGlOnIngredient(ingredient.Product, ingredient.Amount)))
                    {
                        <text>
                        <td class="table-success text-center"> @(IndexHelper.GetGlOnIngredient(ingredient.Product, ingredient.Amount))</td>
                        </text>
                    }
                    @if (Model.IsOrangeGl(IndexHelper.GetGlOnIngredient(ingredient.Product, ingredient.Amount)))
                    {
                        <text>
                        <td class="table-warning text-center"> @(IndexHelper.GetGlOnIngredient(ingredient.Product, ingredient.Amount)) </td>
                        </text>
                    }
                    @if (Model.IsRedGl(IndexHelper.GetGlOnIngredient(ingredient.Product, ingredient.Amount)))
                    {
                        <text>
                        <td class="table-danger text-center"> @(IndexHelper.GetGlOnIngredient(ingredient.Product, ingredient.Amount)) </td>
                        </text>
                    }
                    <td class="col col-lg-3">
                        <a asp-controller="ingredient.Product" asp-action="Details" asp-route-id="@ingredient.Product.Id" class="btn btn-warning">Details</a>
                        <a asp-controller="ingredient.Product" asp-action="Edit" asp-route-id="@ingredient.Product.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="ingredient.Product" asp-action="Remove" asp-route-id="@ingredient.Product.Id" class="btn btn-warning">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>