@model RecipeViewModel

<p> @Model.CurrentCategory.Name </p>
@{
    foreach (SelectedCheckboxViewModel item in Model.CurrentlySelectedCheckboxes)
    {
        string boxId = "amountBox" + item.Id;
        string totalBox = "totalBox" + item.Id;
        string isDisplayed = item.IsChecked ? "block" : "none";
        <text>
            <div class="col-auto">
                <div>
                    <input class="form-number-input" asp-for="@item.IsChecked" type="checkbox"
                           onclick="toggleAmount(@boxId)">
                    <input hidden asp-for="@item.Id"/>
                    <label class="form-check-label"
                           asp-for="@item.IsChecked">@item.Name</label>
                </div>
                <div id="@boxId" style="display: @isDisplayed">
                    <div>
                        <label class="form-check-label" asp-for="@item.Grams">Amount: </label>
                        <input class="form-control-sm " asp-for="@item.Grams"
                               oninput="updateTotal(this, @totalBox, @item.Product.KcalPer100g, @item.Product.Gi, @item.Product.CarbsPer100g, @Model.CurrentCategory.Id)"/>
                    </div>
                    <div>
                        <label class="form-check-label" asp-for="@item.TotalKcal">Selected kcals: </label>
                        <input id="@totalBox" class="form-control-sm total-kcal" asp-for="@item.TotalKcal"
                               readonly>
                    </div>
                    <div>
                        <label class="form-check-label" asp-for="@item.GL">Ładunek glikemiczny: </label>
                        <input id="@totalBox" class="form-control-sm total-gl" asp-for="@item.GL" readonly>

                    </div>
                </div>
            </div>
        </text>
    }
}


