@model RecipeViewModel

@{
    var url = Model.Recipe.Id == 0 ? Url.Action("Create", "Recipe") : Url.Action("Edit", "Recipe");
}

<div class="container">
    <form method="post" action="@url">
        <div class="mb-3 row">
            <input hidden asp-for="@Model.Recipe.Id"/>
            <label asp-for="@Model.Recipe.Name"></label>
            <input asp-for="@Model.Recipe.Name" class="form-control" />
        </div>
        <div class="m-2"><h3>Warzywa</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 1)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Owoce</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 2)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Produkty zbożowe</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 3)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Orzechy</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 4)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Nabiał</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 5)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Mięso, ryby, jaja</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 6)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Słodycze</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 7)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none";
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <div class="m-2"><h3>Sosy</h3></div>
        <div class="row">
            @for (var i = 0; i < Model.SelectedCheckboxes.Count(); i++)
            {
                if (Model.SelectedCheckboxes[i].CategoryId == 8)
                {
                    var boxId = "amountBox" + Model.SelectedCheckboxes[i].Id;
                    var isDisplayed = Model.SelectedCheckboxes[i].IsChecked ? "block" : "none"; 
                    <text>
                        <div class="col-auto">
                            <div>
                                <input class="form-number-input" asp-for="@Model.SelectedCheckboxes[i].IsChecked" type="checkbox" onclick="toggleAmount(@boxId)">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].IsChecked">@Model.SelectedCheckboxes[i].Name</label>
                            </div>
                            <div id="@boxId" style="display: @isDisplayed">
                                <label class="form-check-label" asp-for="@Model.SelectedCheckboxes[i].Grams">Amount: </label>
                                <input class="form-control-sm" asp-for="@Model.SelectedCheckboxes[i].Grams">
                            </div>
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Id" />
                            <input type="hidden" asp-for="@Model.SelectedCheckboxes[i].Name" />
                        </div>
                    </text>
                }
            }
        </div>
        <button type="submit" class="btn btn-primary mt-5">Save</button>
    </form>
</div>

<script>

    function toggleAmount(element) {
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
</script>