@model RecipeViewModel

<h1>@Model.Recipe.Name (@Model.Recipe.TotalKcal)</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ingredient name</th>
            <th scope="col">Amount</th>
            <th scope="col">Kcal</th>
            <th scope="col">GI</th>
            <th scope="col">GL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe.Ingredients)
        {
            <tr>
                <th scope="row">@item.Product.Id</th>
                <td>@item.Product.Name</td>
                <td>@item.Amount</td>
                <td>@item.Kcals </td>
                <td class="@item.GetGIRating()"> @item.Product.GI </td>
                <td class="@item.GetGLRating()"> @item.GL </td>
            </tr>
        }
        <tr>
            <td class="text-bg-primary"></td>
            <td class="text-bg-primary" colspan="2">Total: </td>
            <td class="text-bg-primary">@Model.Recipe.TotalKcal</td>
            <td class="text-bg-primary"></td>
            <td class="text-bg-primary">@Model.Recipe.TotalGL</td>
        </tr>
    </tbody>
</table>
