@model RecipeViewModel


<div class="container">
    <div class="mt-5">
        <a class="btn btn-outline-success" asp-controller="Recipe" asp-action="Create">Create new</a>
        <form method="post" action="@Url.Action("Create", "DietDay")">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">@nameof(Model.Recipe.Name)</th>
                        <th scope="col">@nameof(Model.Recipe.TotalKcal)</th>
                        <th scope="col">@nameof(Model.Recipe.TotalGl)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RecipeDto recipe in Model.Recipes)
                    {
                        <tr>
                            <th scope="row">
                                @recipe.Id
                            </th>
                            <td>
                                @recipe.Name
                            </td>
                            <td>
                                @recipe.TotalKcal
                            </td>
                            <td class="@BaseDto.GetDayGlRating(recipe.TotalGl)">
                                @recipe.TotalGl
                            </td>
                            <td class="col col-lg-3">
                                <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-warning">Details</a>
                                <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Recipe" asp-action="Remove" asp-route-id="@recipe.Id" class="btn btn-warning">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn btn-success" type="submit">Stwórz dzień</button>
        </form>
    </div>
</div>