@model RecipeDTO


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ingredient name</th>
            <th scope="col">Amount</th>
            <th scope="col">Kcal</th>
            <th scope="col" class="col col-lg-2">GI</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredients)
        {
            <tr>
                <th scope="row">@item.Product.Id</th>
                <td>@item.Product.Name</td>
                <td>@item.Amount</td>
                <td>@item.Kcals </td>
                @if (Model.IsGreen(item.Product.GI))
                {
                    <text>
                    <td class="table-success"> @item.Product.GI </td>
                    </text>
                }
                @if (Model.IsOrange(item.Product.GI))
                {
                    <text>
                    <td class="table-warning"> @item.Product.GI </td>
                    </text>
                }
                @if (Model.IsRed(item.Product.GI))
                {
                    <text>
                    <td class="table-danger"> @item.Product.GI </td>
                    </text>
                }
            </tr>
        }
        <tr>
            <td class="text-bg-primary"></td>
            <td class="text-bg-primary align-middle" colspan="2">Total: </td>
            <td class="text-bg-primary align-middle">@Model.TotalKcal</td>
            <td><a asp-controller="Recipe" asp-action="ChangeIngredients" asp-route-recipeId="@Model.Id" asp-route-mealId="@Model.MealId" asp-route-recipeDayId="@Model.RecipeDayId" class="btn btn-primary">Change ingredients</a></td>
        </tr>
    </tbody>
</table>
