@model DayDietViewModel



<form method="post" action="@Url.Action("Create", "DietDay")">

    <div class="input-group input-group-sm m-2">
        <label class="form-check-inline m-2" for="Model.SelectedKcals">Selected kcals: </label>
        <input class="text-light" asp-for="@Model.SelectedKcals" value="@Model.SelectedKcals" disabled id="totalKcals"/>
        <input class="text-light" asp-for="@Model.SelectedKcals" value="@Model.SelectedKcals" disabled id="totalGLs" />
    </div>
    <div class="input-group input-group-sm m-2">
        <label class="form-check-inline m-2" for="Model.RecipesForDay.BreakfastId">Select Breakfast: </label>
        @Html.DropDownListFor(m => m.RecipesForDay.BreakfastId,
        new SelectList(Model.Recipes, "Id", "Name"),
        "Select Breakfast", new { @onchange = "updateTotal(this.value, 'breakfast')"})
        <input class="text-light ml-2 kcals" value="" disabled id="breakfastKcals"/>
        <input class="text-light ml-2 gls" value="" disabled id="breakfastGLs" />
    </div>
    <div class="input-group input-group-sm m-2">
        <label class="form-check-inline m-2" for="Model.RecipesForDay.LunchId">Select Lunch: </label>
        @Html.DropDownListFor(m => m.RecipesForDay.LunchId,
        new SelectList(Model.Recipes, "Id", "Name"),
        "Select Lunch", new { @onchange = "updateTotal(this.value, 'lunch')"})
        <input class="text-light ml-2 kcals" value="" disabled id="lunchKcals" />
        <input class="text-light ml-2 gls" value="" disabled id="lunchGLs" />
    </div>
    <div class="input-group input-group-sm m-2">
        <label class="form-check-inline m-2" for="Model.RecipesForDay.DinnerId">Select Dinner: </label>
        @Html.DropDownListFor(m => m.RecipesForDay.DinnerId,
        new SelectList(Model.Dinners, "Id", "Name"),
        "Select Dinner", new { @onchange = "updateTotal(this.value, 'dinner')"})
        <input class="text-light ml-2 kcals" value="" disabled id="dinnerKcals" />
        <input class="text-light ml-2 gls" value="" disabled id="dinnerGLs" />
    </div>
    <div class="input-group input-group-sm m-2">
        <label class="form-check-inline m-2" for="Model.RecipesForDay.SnackId">Select Snack: </label>
        @Html.DropDownListFor(m => m.RecipesForDay.SnackId,
        new SelectList(Model.Recipes, "Id", "Name"),
        "Select Snack", new { @onchange = "updateTotal(this.value, 'snack')"})
        <input class="text-light ml-2 kcals" value="" disabled id="snackKcals" />
        <input class="text-light ml-2 gls" value="" disabled id="snackGLs" />
    </div>
    <div class="input-group input-group-sm m-2">
        <label class="form-check-inline m-2" for="Model.RecipesForDay.SupperId">Select Supper: </label>
        @Html.DropDownListFor(m => m.RecipesForDay.SupperId,
        new SelectList(Model.Recipes, "Id", "Name"),
        "Select Supper", new { @onchange = "updateTotal(this.value, 'supper')"})
        <input class="text-light ml-2 kcals" value="" disabled id="supperKcals" />
        <input class="text-light ml-2 gls" value="" disabled id="supperGLs" />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>

<script>
    function updateTotal(recipeId, meal) { 
        console.log("RecipeId: " + recipeId); 
        $.ajax({
            url: "@Url.Action("GetRecipeKcals", "Recipe")",
            type: 'GET',
            data: {
                recipeId: recipeId
            }, 
            success: function (res) {
                var idKcals = "#" + meal + "Kcals"; 
                var idGls = "#" + meal + "GLs"; 
                $(idKcals)[0].value = res.kcals
                $(idGls)[0].value = res.gl
                updateSum(".kcals", "#totalKcals");
                updateSum(".gls", "#totalGLs");
            }
        });
    }

    function updateSum(fieldToUpdate, result) {
        var items = $(fieldToUpdate);
        var total = 0;
        for (var i = 0; i < items.length; i++) {
            var kcal = parseInt(items[i].value);
            var isANumber = isNaN(kcal) === false;
            if (kcal != 0 && isANumber) {
                total += kcal;
            }
        }
        ($(result)[0]).value = total;
    }
</script>