@model DayDietViewModel

<div class="container-fluid">
    <div>
        <a class="btn btn-outline-success text-light" asp-area="" asp-controller="DietDay" asp-action="Create">Stwórz nowy</a>

    </div>
    <div class="mt-5">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Breakfast</th>
                    <th scope="col">Lunch</th>
                    <th scope="col">Dinner</th>
                    <th scope="col">Snack</th>
                    <th scope="col">Supper</th>
                    <th scope="col">DayGL</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <form method="post" asp-controller="DietDay" asp-action="Index">
                @foreach (DayDietDTO day in Model.Days)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="diet-day-checkbox" name="SelectedDaysIds" value="@day.Id">
                        </td>
                        <td>
                            @day.Breakfast.Name (@day.Breakfast.TotalGL)
                        </td>
                        <td>
                            @day.Lunch.Name (@day.Lunch.TotalGL)
                        </td>
                        <td>
                            @day.Dinner.Name (@day.Dinner.TotalGL)
                        </td>
                        <td>
                            @day.Snack?.Name (@day.Snack?.TotalGL)
                        </td>
                        <td>
                            @day.Supper.Name (@day.Supper.TotalGL)
                        </td>
                        <td class="@BaseDTO.GetDayGLRating(day.TotalGL)">
                            @day.TotalGL
                        </td>
                        <td class="col col-lg-3">
                            <a asp-controller="DietDay" asp-action="Details" asp-route-id="@day.Id" class="btn btn-warning">Details</a>
                            <a asp-controller="DietDay" asp-action="Update" asp-route-id="@day.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="DietDay" asp-action="Remove" asp-route-id="@day.Id" class="btn btn-warning">Delete</a>
                            <a asp-controller="DietDay" asp-action="GenerateShoppingListForOneDay" asp-route-id="@day.Id" class="btn btn-warning">Generate shopping list</a>
                        </td>
                    </tr>
                }
                <button id="generate-for-checked" type="submit" class="btn btn-warning">Generate Shopping List For Checked Days</button>
                </form>
            </tbody>
        </table>
    </div>
</div>

<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    const generateForCheckedButton = document.getElementById('generate-for-checked');
    generateForCheckedButton.addEventListener('click', generateForCheckedListener);

    function generateForCheckedListener(e) {
        let isEmpty = true;

        const checkboxes = document.querySelectorAll('#diet-day-checkbox');
        const checkboxesArray = Array.from(checkboxes);
        checkboxesArray.forEach(item => {   //see if there is any checked checkbox
            if(item.checked == true) {
                isEmpty = false;
                console.log("Znalazłem zaznaczony");
            }  
        });
        console.log(`Po wyjsciu z petli: isEmpty = ${isEmpty}`);
        if(isEmpty === true) {   //.. if not then block controller communication and genereate pup up error message
            e.preventDefault();
            const body = "@Model.ShoppingDaysNotSelected.Body";
            const title = "@Model.ShoppingDaysNotSelected.Title";


            toastr["error"]("@Model.ShoppingDaysNotSelected.Body", "@Model.ShoppingDaysNotSelected.Title");
        }
    }
</script>