@model ProductViewModel


<div class="mt-5">
    <table class="table w-75">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@nameof(Model.Product.Name)</th>
                <th scope="col" class="text-center">@nameof(Model.Product.KcalPer100g)</th>
                <th scope="col" class="text-center">@nameof(Model.Product.Gi)</th>
                <th scope="col">@nameof(Model.Product.GramsPerPortion)</th>
                <th scope="col" class="text-center">ŁG</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IngredientDTO ingredient in Model.Products)
            {
                <tr>
                    <th scope="row">
                        @ingredient.Product.Id
                    </th>
                    <td>
                        @(char.ToUpper(ingredient.Product.Name[0]) + ingredient.Product.Name.Substring(1))
                    </td>
                    <td class="text-center">
                        @ingredient.Product.KcalPer100g
                    </td>
                    <td class="@ingredient.GetGiRating() text-center"> @ingredient.Product.Gi </td>
                    <td class="col col-lg-1 text-center">@ingredient.Product.GramsPerPortion</td>
                    <td class="@ingredient.GetGLRating() text-center"> @ingredient.Gl </td>
                    <td class="col col-lg-3">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@ingredient.Product.Id" class="btn btn-warning">Details</a>
                        <a asp-controller="Product" asp-action="Remove" asp-route-id="@ingredient.Product.Id" class="btn btn-warning">Delete</a>
                        @if (Model.ShouldAllowToAddToMeal == true)
                        {
                            @Html.DropDownListFor(m => m.SelectedMealId,
                                     new SelectList(Model.Meals, "Id", "Name"),
                                     "Select meal")

                            <a asp-controller="DayToDayDiary" asp-action="AddToMeal" asp-route-id="@ingredient.Product.Id" class="btn btn-warning">Add to meal</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>